
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $grey;
  background-color: $GhostWhite;


  .logo {
    font-family: 'Satisfy', cursive;
    &.navbar-brand {
      font-size: 26px;

    }
  }
  .navbar-item {
    padding: 12px;
  }

  .button.is-primary{
    background-color: $lightBlue;
  }
  .button.is-primary:hover{
    background-color: $lightBlueD;
  }

  .title {
    padding-left: 10px;
    font-weight: 400;
    color: $HanBlue;
    font-style: italic;

  }

  .button.is-primary.is-rounded.is-medium{
    margin: 20px;
  }

  p.form-or.level-item {
    color: $HanBlue;
    margin-bottom: 2px;

  }
  div.level-item.button {
    margin-bottom: 2px;
  }
  div.level-item.form-or {
    margin-bottom: 2px;
  }

  button.button.is-rounded, select {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

}
