
/* Coolors Exported Palette - coolors.co/5d576b-e3e7f2-ffffff-a4c2f7-428dff */

/* RGB */
$grey: rgba(93, 87, 107, 1);
$GhostWhite: rgba(249, 250, 252, 1);
$lightGrey: rgba(227, 231, 242, 1);
$lightBlue: rgba(164, 194, 247, 1);
$lightBlueD: rgba(150, 177, 225, 1);
$BrillitanAzure: rgba(66, 141, 255, 1);
$HanBlue: rgba(55, 116, 209, 1);
