.centralizer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.margin-top-15 {
  margin-top: 15px;
}
 .recipient {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
 }
.margin-left-20 {
  margin-left: 20px;
}
