@import '~mapbox-gl/dist/mapbox-gl.css';

* {
  box-sizing: border-box;

}

.map {
  height: 100vh;
  width: 100%;
}

.mapboxgl-popup-content {
  padding: 5px 5px 2px;
}

.marker {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  background-image: url(/assets/images/ga-logo.jpg);
  background-size: cover;
}
